<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PDF Template</title>

    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="p-8">
    <header class="text-5xl text-white text-center p-4 bg-cyan-800 rounded-md">
      Congratulations
    </header>
    <main class="pt-16 text-3xl text-center">
      <div>This PDF has been created for</div>
      <div class="font-semibold pt-5">{{firstname}} {{lastname}}</div>
    </main>
  </body>
</html>
